/* .list-group-item{
  padding: 10px 15px 30px;
}
 */
.picture {
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 100px;
  width: 100px;
}

.infos{
  padding-bottom: 15px;
}

.city{
	background: #ffcaea;
	display: inline;
	color: #adadad;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}

.tags {
  
  font-size: 13px;
  font-weight: bold;
  line-height: 1.1em;
  width: 150px;
  height: auto;
  margin-top: -8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tags a{
	color: #fcb3cc;
}

.tags a:hover{
  color: #ff0199;
  text-decoration: none;
  cursor: pointer;
}

/*********************************************************************

  SIDEBAR MENU - Page Result annonces

*********************************************************************/

/*body 
{

  background: none repeat scroll 0 0 white; 
}*/

nav.sidebar-menu-collapsed {
  width: 50px; 
}

nav.sidebar-menu-expanded {
  width: 170px; 
}

nav.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background: none repeat scroll 0 0 #E9A418;
  color: white;
  padding: 20px 10px;
  z-index: 4;
}

#justify-icon{
  margin-top: 50px;
}

nav.sidebar a#justify-icon {
  outline: 0;
  color: white;
  font-size: 24px;
  font-style: normal; 
}

/*.glyphicon {
  top: 170px;
}*/


nav.sidebar-menu-expended a:active{
  color: #a4042c;
}
/*color: #a4042c;*/


nav.sidebar ul.icon {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}

nav.sidebar ul li {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
  display: block;
  position: relative;
}

nav.sidebar ul li a.expandable {
  outline: 0;
  color: white;
  text-decoration: none;
  font-size: 20px; 
}

nav.sidebar ul li a.expandable:hover{
  color: #bbbbbb; 
}

nav.sidebar ul li a.expandable span.expanded-element {
  margin-left: 2px;
  display: none;
  font-size: 14px;
  position: relative;
  bottom: 2px; 
}

nav.sidebar ul li.active {
  background: none repeat scroll 0 0 #B5022F;
  border-radius: 4px;
  text-align: center;
  margin-left: -4px;
  padding: 4px; 
}

nav.sidebar ul li.active a.expandable {
  color: white !important; 
}

nav.sidebar ul li.active a.expandable:hover {
  color: white !important; 
}

#sidebar-dropdown{
  background-color: #F5B125; /*#F2BE54*/
  top: 0;
  border: 0px;
  border-radius: 1px;
  padding: 15px;
  box-shadow: 0 0 0;
  webkit-box-shadow: 0 0 0;
  left: 160px;
  position: absolute;

}
#sidebar-dropdown >ul >li{
  margin-top: 5px;
}

/*********************************************************************

  SIDEBAR MENU - Page Result annonces

*********************************************************************/


.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    /* float: none;
    width: 100%; */
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
