<!-- <div class="row" id="products">
    <div class="col-sm-3" dir-paginate="g in list | filter:query | itemsPerPage: numberPerPage" current-page="currentPage">
        <div class="box">
            <a class="" ui-sref="profile({userId:g.id})">
                <img  ng-src="{{g.cover | imgUrlFilter:g.cover}}" class="img-thumbnail" style="width:200px; height:200px; ">
            </a>

            <div class="infos">
                <p>{{g.pseudo | uppercase}} <span> {{g.age}} ans</span>
                <span class="text-primary">{{g.city}}</span>
                </p>
                <div class="tags">
                    <a ng-repeat="hashtag in g.hashtags" ui-sref="tag-detail({tagId:hashtag.id})"> #{{hashtag.label}} </a>
                </div>                       
            </div>
        </div>
    </div>
</div> -->

<div class="well well-sm">
    <strong>Category Title</strong>
    <div class="btn-group">
        <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
        </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
            class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
</div>
<div id="products" class="row clearfix list-group">
    <div class="col-xs-4 col-md-4 item" dir-paginate="g in ::list | filter:query | itemsPerPage: numberPerPage" current-page="currentPage">
        <div class="thumbnail">
            <a ui-sref="profile({userId:g.id})">
                <img  ng-src="{{g.cover | imgUrlFilter:g.cover}}" class=" group list-group-image" style="width:200px; height:200px; ">
            </a>

            <div class="caption">
                <p class="group inner list-group-item-text"> <span ng-bind="g.pseudo | uppercase"></span> <span ng-bind="::g.age"> ans</span>
                <span class="text-primary" ng-bind="::g.city"></span>
                </p>
                <div class="tags">
                    <a ng-repeat="hashtag in g.hashtags" ui-sref="tag-detail({tagId:hashtag.id})"> #{{hashtag.label}} </a>
                </div>                       
            </div>
        </div>
    </div>
</div>

<dir-pagination-controls boundary-links="true" template-url="../app/views/pagination.tpl.html"></dir-pagination-controls>
