<div class="list-group" ng-repeat="g in list | filter:query">
    <ul class="list-group-item">
    <a class="" ng-href="#/user/{{g.id}}">
        <div class="picture">
            <img  ng-src="{{g.cover | imgUrlFilter:g.cover}}" class="img-thumbnail">
        </div>
    </a>
    <div class="infos">
        <h4>{{g.pseudo | uppercase}}</h4>
        <span> {{ g.age}} ans</span>
        <span class="text-primary">{{g.city}}</span>
        <div class="tags">
            <a ng-repeat="hashtag in g.hashtags" ng-href="#/tags/{{hashtag.id}}"> #{{hashtag.label}} </a>
        </div>                       
    </div>
    </ul>
</div>    

    

<!-- <div class="row">
    <div class="list-group" ng-repeat="g in list | filter:query">
        <a class="list-group-item" ng-href="#/user/{{g.id}}">
            <div class="picture">
                <img  ng-src="{{g.cover | imgUrlFilter:g.cover}}" class="img-thumbnail">
            </div>
        </a>
        <div class="infos">
            <h4>{{g.pseudo | uppercase}}</h4>
            <span> {{ g.age}} ans</span>
            <span class="text-primary">{{g.city}}</span>
            <div class="tags">
                <a ng-repeat="hashtag in g.hashtags" ng-href="#/tags/{{hashtag.id}}"> #{{hashtag.label}} </a>
            </div>                       
        </div>
    </div>    
</div> -->

<nav>
    <ul class="pager">
        <li>
            <a href="">&laquo;</a>
        </li>
        <li class="disabled">
            <a href="">&raquo;</a>
        </li>
    </ul>   
</nav>   